version: "3.9"
services:
  cloud_project_postgres:
    container_name: cloud_project_postgres
    image: postgres:alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=cloud_project_db
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
